.cover {
  padding: 80px 24px 32px;
  @apply relative bg-primary-content;
}

.textHead {
  width: 220px;
}

.asset {
  @apply absolute right-0 top-[50%];

  &.one {
    transform: translate(-55%, -85%);
  }

  &.two {
    transform: translate(-35%, -35%);
  }
}
