.input-search-group {
  @apply relative;
}

.input-search {
  @apply rounded-lg py-3 px-4 border-2 input input-bordered w-full bg-transparent focus:border-primary;
}

.input-search.small {
  @apply text-small py-px px-3 input-md;
}

.button-search {
  @apply btn btn-ghost no-animation absolute text-[#828282] active:bg-primary active:text-white;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
