.product-search {
  @apply sticky top-[64px] bg-white z-50 py-4 px-4 pb-2 bg-[#F0F6FF];
  transition: 0.25s ease-in-out;

  &.up {
    transform: translate(0, 0%);
    opacity: 1;
    pointer-events: initial;
  }

  &.down {
    transform: translate(0, -100%);
    opacity: 0;
    pointer-events: none;
    z-index: -9;
  }
}

.inner {
  @apply max-w-sm mx-auto;
}

.filter-group {
  @apply -mx-4 px-2 flex items-center justify-start pt-4 pb-2 overflow-x-auto overflow-y-hidden;
  transition: 0.15s ease-in-out;

  &.hide {
    transform: translate(0, -100%);
    // margin-top: -20px;
    opacity: 0;
    pointer-events: none;
  }

  &.shown {
    transform: translate(0, 0%);
    // margin-top: 0px;
    opacity: 1;
    pointer-events: inherit;
  }
}
