@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.cm-heading {
  @apply leading-tight mb-2;
  letter-spacing: -0.002em;

  &.h2 {
    @apply text-2xl font-bold;
  }

  &.h4 {
    @apply text-base font-bold;
  }
}

.cm-font {
  @apply leading-tight;
  letter-spacing: -0.005em;

  &-medium {
    @apply text-xs font-medium;
  }

  &-regular {
    @apply text-xs font-normal;
  }
}
